@charset "UTF-8";

.img-right-single-caption {
	width: 104px;
	height: 124px;
	object-fit: cover;
}
.img-single-slider-TrendingArea{
	width: 770px;
	height: 645px;
	object-fit: fill;
}
.img-single-slider-trending-area-right-top{
	width: 370px;
	height: 397px;
	object-fit: cover;
}
.img-single-slider-trending-area-right-bot{
	width: 370px;
	height: 220px;
	object-fit: cover;
}

.img-member-single{
	width: 370px;
	height: 463px;
	object-fit: cover;
}
.send-message-button{
	background: #ff2143;
    border: 1px solid #ddd;
    color: #fff !important;
    width: 100%;
    display: inline-block;
    padding: 18px 44px;
    font-family: "Barlow",sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}