@charset "UTF-8";

.img-right-single-caption {
	width: 104px;
	height: 124px;
	object-fit: cover;
}
.img-single-slider-TrendingArea{
	width: 770px;
	height: 645px;
	object-fit: fill;
}
.img-single-slider-trending-area-right-top{
	width: 370px;
	height: 397px;
	object-fit: cover;
}
.img-single-slider-trending-area-right-bot{
	width: 370px;
	height: 220px;
	object-fit: cover;
}

.img-member-single{
	width: 370px;
	height: 463px;
	object-fit: cover;
}