@charset "UTF-8";
.Image {
    max-height: 100px;
    max-width: 200px;
    padding: 1px;
    cursor: pointer;
}

.delete-html{
	overflow: hidden;
    width: 100%;
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 1.5 !important;
    font-size: 14px !important;
}

.max-width{
	max-width: 200px;	
}

.menu-item-title{
	color: white;
}