<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>controller.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/HomeController</url-pattern>
  </servlet-mapping>
  <display-name>CNW_LTM_2022</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AboutController</display-name>
    <servlet-name>AboutController</servlet-name>
    <servlet-class>controller.AboutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutController</servlet-name>
    <url-pattern>/AboutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryController</display-name>
    <servlet-name>CategoryController</servlet-name>
    <servlet-class>controller.CategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryController</servlet-name>
    <url-pattern>/CategoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LatestNewsController</display-name>
    <servlet-name>LatestNewsController</servlet-name>
    <servlet-class>controller.LatestNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LatestNewsController</servlet-name>
    <url-pattern>/LatestNewsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactController</display-name>
    <servlet-name>ContactController</servlet-name>
    <servlet-class>controller.ContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactController</servlet-name>
    <url-pattern>/ContactController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashBoardController</display-name>
    <servlet-name>DashBoardController</servlet-name>
    <servlet-class>controller.DashBoardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashBoardController</servlet-name>
    <url-pattern>/DashBoardController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginRedirectController</display-name>
    <servlet-name>LoginRedirectController</servlet-name>
    <servlet-class>controller.LoginRedirectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginRedirectController</servlet-name>
    <url-pattern>/LoginRedirectController</url-pattern>
  </servlet-mapping>
</web-app>